@use 'abstracts/variables' as *;
@use 'components/cnmc';

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

* {
  margin: 0;
  outline: 0;
  padding: 0;
}

#app {
  color: $darkMain;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  width: 98vw;
}

nav {
  height: 30px;
  padding: 10px 0;
  width: 100%;

  a {
    font-weight: bold;
    color: $darkMain;
  }

  a.router-link-exact-active {
    color: $greenSphere;
  }
}

#separatorStripe {
  @include gradient(left, $rainbowList);
  height: 30px;
  opacity: 0.69;
  width: 100%;
}

main {

  h1 {
    font-size: 1.4em;
    margin-top: 10px;
  }

  p {
    font-size: 0.8em;
  }

}
