$darkMain: #2c3e50;
$redSphere: #fe0000;
$orangeSphere: #fd8c00;
$yellowSphere: #ffe500;
$greenSphere: #119f0b;
$blueSphere: #528ff9;
$indigoSphere: #160375;
$violetSphere: #c22edc;
$rainbowList: $redSphere, $orangeSphere, $yellowSphere, $greenSphere, $blueSphere, $indigoSphere, $violetSphere;
@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

* {
  margin: 0;
  outline: 0;
  padding: 0;
}

#app {
  color: $darkMain;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
}

nav {
  height: 30px;
  padding: 10px 0;
  width: 100%;

  a {
    font-weight: bold;
    color: $darkMain;
  }

  a.router-link-exact-active {
    color: $greenSphere;
  }
}

#separatorStripe {
  @include gradient(left, $rainbowList);
  height: 30px;
  opacity: 0.69;
  width: 100%;
}

main {
  h1 {
    font-size: 1.4em;
  }

  p {
    font-size: 0.8em;
  }
  
  #cnmc {
    padding: 10px;
    * {
      list-style-type: none;
    }

    #serena {
      color: $indigoSphere;
    }
    #snuffle {
      color: $indigoSphere;
    }
    #baby-zero {
      color: $greenSphere;
    }
  }
}
