#cnmc {
  height: 750px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  width: 320px;
}
#cnmc * {
  list-style-type: none;
}
#cnmc h2 {
  font-size: 1.4em;
  margin-top: 4px;
}
#cnmc h3 {
  margin-bottom: -4px;
}
#cnmc h4 {
  margin-bottom: -6px;
  text-decoration: line-through;
}
#cnmc li * {
  background-color: #f8eeff;
  display: inline-block;
}
#cnmc .alter > * {
  border: 1px solid #2c3e50;
  padding: 0 2%;
  position: absolute;
}
#cnmc .five #serena {
  color: #160375;
  left: 112px;
  top: 10px;
}
#cnmc .five #snuffle {
  color: #c22edc;
  left: 6px;
  margin-top: 6px;
  top: 10px;
}
#cnmc .five #baby-zero {
  color: #119f0b;
  right: 6px;
  margin-top: 6px;
  top: 10px;
}
#cnmc .five #clairey {
  color: #119f0b;
  left: 6px;
  top: 220px;
}
#cnmc .five #katie {
  color: #119f0b;
  left: 100px;
  top: 220px;
}
#cnmc .five #clarence {
  color: #2c3e50;
  left: 70px;
  top: 90px;
}
#cnmc .five #charles {
  color: #119f0b;
  left: 16px;
  top: 150px;
}
#cnmc .five #reckmund {
  color: #d2af00;
  left: 120px;
  top: 150px;
}
#cnmc .five #fuchsia {
  color: #119f0b;
  left: 26px;
  top: 280px;
}
#cnmc .five #anxia-terra {
  color: #119f0b;
  left: 130px;
  top: 280px;
}
#cnmc .five #letitia {
  color: #2c3e50;
  left: 220px;
  top: 340px;
}
#cnmc .five #lolita-honey {
  color: #d2af00;
  left: 50px;
  top: 400px;
}
#cnmc .five #loretta-alice {
  color: #fe0000;
  right: 16px;
  top: 400px;
}
#cnmc .five #rose {
  color: #fd8c00;
  left: 6px;
  top: 340px;
}
#cnmc .five #katherine {
  color: #fd8c00;
  left: 90px;
  top: 340px;
}
#cnmc .five #honeysuckle {
  color: #fd8c00;
  left: 40px;
  top: 460px;
}
#cnmc .five #alicia {
  color: #fe0000;
  left: 220px;
  top: 460px;
}
#cnmc .five #morgana {
  color: #119f0b;
  left: 6px;
  top: 530px;
}
#cnmc .five #estella {
  color: #c22edc;
  left: 180px;
  top: 530px;
}
#cnmc .five #jane {
  color: #fd8c00;
  left: 80px;
  top: 600px;
}
#cnmc .five #kathy {
  color: #fd8c00;
  left: 220px;
  top: 600px;
}
#cnmc .five #cal {
  color: #160375;
  left: 100px;
  margin-top: 2px;
  top: 730px;
}
#cnmc .five #nooka {
  color: #528ff9;
  left: 180px;
  top: 730px;
}
#cnmc .five #leandra {
  color: #528ff9;
  left: 70px;
  top: 660px;
}
#cnmc .five #ash {
  color: #528ff9;
  left: 255px;
  top: 660px;
}
#cnmc .five #ava {
  color: #fd8c00;
  left: 180px;
  top: 90px;
}
#cnmc .five #tara {
  color: #fd8c00;
  left: 240px;
  top: 90px;
}

* {
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
}

#app {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
}

nav {
  height: 30px;
  padding: 10px 0;
  width: 100%;
}
nav a {
  font-weight: bold;
  color: #2c3e50;
}
nav a.router-link-exact-active {
  color: #119f0b;
}

#separatorStripe {
  background: -webkit-linear-gradient(left, #fe0000, #fd8c00, #d2af00, #119f0b, #528ff9, #160375, #c22edc);
  background: -moz-linear-gradient(left, #fe0000, #fd8c00, #d2af00, #119f0b, #528ff9, #160375, #c22edc);
  background: -o-linear-gradient(left, #fe0000, #fd8c00, #d2af00, #119f0b, #528ff9, #160375, #c22edc);
  background: linear-gradient(left, #fe0000, #fd8c00, #d2af00, #119f0b, #528ff9, #160375, #c22edc);
  height: 30px;
  opacity: 0.69;
  width: 100%;
}

main {
  margin-bottom: 60px;
  padding: 10px;
}
main h1 {
  font-size: 1.4em;
}
main h2 {
  font-size: 1.2em;
  margin-top: 10px;
  text-align: left;
}
main p {
  font-size: 0.8em;
}

/*# sourceMappingURL=main.css.map */
