@use "../abstracts/variables" as *;

#cnmcMob {
  position: relative;
}

#cnmcMobLinesAH {
  * {
    z-index: 4;
  }
  .line-across-hereditary > * {
    background-color: $darkMain;
    height: 2px;
    position: absolute;
  }
  #lahMob1 {
    top: 66px;
    left: 3px;
    right: 3px;
  }
  #lahMob2 {
    width: 87px;
    top: 200px;
    left: 3px;
  }
  #lahMob3 {
    width: 35px;
    top: 262px;
    left: 14px;
  }
  #lahMob4 {
    width: 35px;
    top: 262px;
    left: 120px;
  }
  #lahMob5 {
    width: 90px;
    top: 382px;
    left: 190px;
  }
  #lahMob6 {
    width: 80px;
    top: 510px;
    left: 85px;
  }
  #lahMob7 {
    width: 80px;
    top: 510px;
    left: 235px;
  }
  #lahMob8 {
    top: 710px;
    left: 50px;
    right: 4px;
  }
}

#cnmcMobLinesDH {
  * {
    z-index: 3;
  }
  .line-down-hereditary > * {
    background-color: $darkMain;
    width: 2px;
    position: absolute;
  }
  #ldhMob1 {
    top: 44px;
    left: 162px;
    height: 22px;
  }
  #ldhMob2 {
    top: 66px;
    left: 3px;
    height: 135px;
  }
  #ldhMob3 {
    top: 66px;
    left: 108px;
    height: 95px;
  }
  #ldhMob4 {
    top: 66px;
    left: 244px;
    height: 37px;
  }
  #ldhMob5 {
    top: 66px;
    right: 33px;
    height: 290px;
  }
  #ldhMob6 {
    top: 66px;
    right: 3px;
    height: 646px;
  }
}

#cnmcMobCards {
  height: 750px;
  margin: 10px auto;
  padding: 10px;
  width: 320px;
  * {
    list-style-type: none;
  }

  h2 {
    font-size: 1.4em;
    margin-top: 2px;
  }

  h4 {
    text-decoration: line-through;
  }

  li * {
    background-color: $lightMain;
    z-index: 5;
  }

  .one {
    #serena, #clairey, #katie, #fuchsia, #anxia-terra, #rose, #katherine, #honeysuckle, #alicia, #morgana, #estella, #jane, #kathy {
      .cover {
        display: none;
      }
    }
    #snuffle, #baby-zero, #clarence, #charles, #reckmund, #ava, #tara, #letitia, #lolita-honey, #loretta-alice, #leandra, #ash, #cal, #nooka {
      .alterName {
        display: none;
      }
    }
  }

  .three {
    #serena, #clairey, #katie, #fuchsia, #anxia-terra, #rose, #katherine, #honeysuckle, #alicia, #morgana, #estella, #jane, #kathy, #leandra, #ash, #cal {
      .cover {
        display: none;
      }
    }
    #snuffle, #baby-zero, #clarence, #charles, #reckmund, #ava, #tara, #letitia, #lolita-honey, #loretta-alice, #nooka {
      .alterName {
        display: none;
      }
    }
  }

  .four {
    #serena, #clairey, #katie, #fuchsia, #anxia-terra, #rose, #katherine, #honeysuckle, #alicia, #morgana, #estella, #jane, #kathy, #leandra, #ash, #ava, #tara, #letitia, #lolita-honey, #loretta-alice, #cal {
      .cover {
        display: none;
      }
    }
    #snuffle, #baby-zero, #clarence, #charles, #reckmund, #nooka {
      .alterName {
        display: none;
      }
    }
  }

  .five {
    .cover {
      display: none;
    }
  }

  .alter > * {
    border: 1px solid $darkMain;
    padding: 0 2%;
    position: absolute;
  }

  .cover {
    font-size: 1.2em;
    font-weight: bold;
    width: 40px;
  }

  #serena {
    left: 120px;
    top: $mobLineOne;
  }
  #snuffle {
    left: 6px;
    margin-top: 6px;
    top: $mobLineOne;
  }
  #baby-zero {
    right: 6px;
    margin-top: 6px;
    top: $mobLineOne;
  }
  #clairey {
    left: 6px;
    top: $mobLineFour;
  }
  #katie {
    left: 100px;
    top: $mobLineFour;
  }
  #clarence {
    left: 70px;
    top: $mobLineTwo;
  }
  #charles {
    left: 16px;
    top: $mobLineThree;
  }
  #reckmund {
    left: 120px;
    top: $mobLineThree;
  }
  #fuchsia {
    left: 26px;
    top: $mobLineFive;
  }
  #anxia-terra {
    left: 130px;
    top: $mobLineFive;
  }
  #letitia {
    right: 26px;
    top: $mobLineSix;
  }
  #lolita-honey {
    left: 50px;
    top: $mobLineSeven;
  }
  #loretta-alice {
    right: 26px;
    top: $mobLineSeven;
  }
  #rose {
    left: 6px;
    top: $mobLineSix;
  }
  #katherine {
    left: 90px;
    top: $mobLineSix;
  }
  #honeysuckle {
    left: 40px;
    top: $mobLineEight;
  }
  #alicia {
    left: 220px;
    top: $mobLineEight;
  }
  #morgana {
    left: 6px;
    top: $mobLineNine;
  }
  #estella {
    left: 180px;
    top: $mobLineNine;
  }
  #jane {
    left: 80px;
    top: $mobLineTen;
  }
  #kathy {
    left: 220px;
    top: $mobLineTen;
  }
  #cal {
    left: 100px;
    margin-top: 2px;
    top: $mobLineTwelve;
  }
  #nooka {
    left: 180px;
    top: $mobLineTwelve;
  }
  #leandra {
    left: 70px;
    top: $mobLineEleven;
  }
  #ash {
    left: 255px;
    top: $mobLineEleven;
  }
  #ava {
    left: 185px;
    top: $mobLineTwo;
  }
  #tara {
    left: 255px;
    top: $mobLineTwo;
  }
}
