@use "../abstracts/variables" as *;

#serena {
  color: $indigoSphere;
}
#snuffle {
  color: $violetSphere;
}
#baby-zero {
  color: $greenSphere;
}
#clairey {
  color: $greenSphere;
}
#katie {
  color: $greenSphere;
}
#clarence {
  color: $darkMain;
}
#charles {
  color: $greenSphere;
}
#reckmund {
  color: $yellowSphere;
}
#fuchsia {
  color: $greenSphere;
}
#anxia-terra {
  color: $greenSphere;
}
#letitia {
  color: $darkMain;
}
#lolita-honey {
  color: $yellowSphere;
}
#loretta-alice {
  color: $redSphere;
}
#rose {
  color: $orangeSphere;
}
#katherine {
  color: $orangeSphere;
}
#honeysuckle {
  color: $orangeSphere;
}
#alicia {
  color: $redSphere;
}
#morgana {
  color: $greenSphere;
}
#estella {
  color: $violetSphere;
}
#jane {
  color: $orangeSphere;
}
#kathy {
  color: $orangeSphere;
}
#cal {
  color: $indigoSphere;
}
#nooka {
  color: $blueSphere;
}
#leandra {
  color: $blueSphere;
}
#ash {
  color: $blueSphere;
}
#ava {
  color: $orangeSphere;
}
#tara {
  color: $orangeSphere;
}
