@use "../abstracts/variables" as *;
$lineOne: 10px;
$lineTwo: 90px;
$lineThree: 150px;
$lineFour: 220px;
$lineFive: 280px;
$lineSix: 340px;
$lineSeven: 400px;
$lineEight: 460px;
$lineNine: 530px;
$lineTen: 600px;
$lineEleven: 660px;
$lineTwelve: 730px;

#cnmc {
  height: 750px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 320px;
  * {
    list-style-type: none;
  }

  h2 {
    margin-bottom: -3px;
  }

  h3 {
    margin-bottom: -4px;
  }

  h4 {
    margin-bottom: -6px;
    text-decoration: line-through;
  }

  li * {
    background-color: $lightMain;
    display: inline-block;
  }

  .alter > * {
    border: 1px solid $darkMain;
    padding: 0 2%;
    position: absolute;
  }

  #serena {
    color: $indigoSphere;
    left: 115px;
    top: $lineOne;
  }
  #snuffle {
    color: $violetSphere;
    left: 6px;
    margin-top: 2px;
    top: $lineOne;
  }
  #baby-zero {
    color: $greenSphere;
    right: 6px;
    margin-top: 2px;
    top: $lineOne;
  }
  #clairey {
    color: $greenSphere;
    left: 6px;
    top: $lineFour;
  }
  #katie {
    color: $greenSphere;
    left: 100px;
    top: $lineFour;
  }
  #clarence {
    color: $darkMain;
    left: 70px;
    top: $lineTwo;
  }
  #charles {
    color: $greenSphere;
    left: 16px;
    top: $lineThree;
  }
  #reckmund {
    color: $yellowSphere;
    left: 120px;
    top: $lineThree;
  }
  #fuchsia {
    color: $greenSphere;
    left: 26px;
    top: $lineFive;
  }
  #anxia-terra {
    color: $greenSphere;
    left: 130px;
    top: $lineFive;
  }
  #letitia {
    color: $darkMain;
    left: 220px;
    top: $lineSix;
  }
  #lolita-honey {
    color: $yellowSphere;
    left: 50px;
    top: $lineSeven;
  }
  #loretta-alice {
    color: $redSphere;
    right: 16px;
    top: $lineSeven;
  }
  #rose {
    color: $orangeSphere;
    left: 6px;
    top: $lineSix;
  }
  #katherine {
    color: $orangeSphere;
    left: 90px;
    top: $lineSix;
  }
  #honeysuckle {
    color: $orangeSphere;
    left: 40px;
    top: $lineEight;
  }
  #alicia {
    color: $redSphere;
    left: 220px;
    top: $lineEight;
  }
  #morgana {
    color: $greenSphere;
    left: 6px;
    top: $lineNine;
  }
  #estella {
    color: $violetSphere;
    left: 180px;
    top: $lineNine;
  }
  #jane {
    color: $orangeSphere;
    left: 80px;
    top: $lineTen;
  }
  #kathy {
    color: $orangeSphere;
    left: 220px;
    top: $lineTen;
  }
  #cal {
    color: $indigoSphere;
    left: 100px;
    margin-top: 2px;
    top: $lineTwelve;
  }
  #nooka {
    color: $blueSphere;
    left: 180px;
    top: $lineTwelve;
  }
  #leandra {
    color: $blueSphere;
    left: 70px;
    top: $lineEleven;
  }
  #ash {
    color: $blueSphere;
    left: 255px;
    top: $lineEleven;
  }
  #ava {
    color: $orangeSphere;
    left: 180px;
    top: $lineTwo;
  }
  #tara {
    color: $orangeSphere;
    left: 240px;
    top: $lineTwo;
  }
}
