@use "../abstracts/variables" as *;
$lineOne: 10px;
$lineTwo: 100px;
$lineThree: 160px;
$lineFour: 210px;
$lineFive: 270px;
$lineSix: 330px;
$lineSeven: 390px;

#cnmc {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 320px;
  * {
    list-style-type: none;
  }

  h2 {
    margin-bottom: -3px;
  }

  h3 {
    margin-bottom: -4px;
  }

  h4 {
    margin-bottom: -6px;
    text-decoration: line-through;
  }

  li * {
    background-color: $lightMain;
    display: inline-block;
  }

  .alter > * {
    border: 1px solid $darkMain;
    padding: 0 2%;
    position: absolute;
  }

  #serena {
    color: $indigoSphere;
    left: 115px;
    top: $lineOne;
  }
  #snuffle {
    color: $violetSphere;
    left: 6px;
    margin-top: 2px;
    top: $lineOne;
  }
  #baby-zero {
    color: $greenSphere;
    right: 6px;
    margin-top: 2px;
    top: $lineOne;
  }
  #clairey {
    color: $greenSphere;
    left: 6px;
    top: $lineTwo;
  }
  #katie {
    color: $greenSphere;
    left: 100px;
    top: $lineTwo;
  }
  #clarence {
    color: $darkMain;
    left: 103px;
    top: $lineThree;
  }
  #charles {
    color: $greenSphere;
    left: 6px;
    top: $lineFour;
  }
  #reckmund {
    color: $yellowSphere;
    left: 120px;
    top: $lineFour;
  }
  #fuchsia {
    color: $greenSphere;
  }
  #anxia-terra {
    color: $greenSphere;
  }
  #letitia {
    color: $darkMain;
    left: 180px;
    top: $lineFive;
  }
  #lolita-honey {
    color: $yellowSphere;
    left: 6px;
    top: $lineSix;
  }
  #loretta-alice {
    color: $redSphere;
    left: 150px;
    top: $lineSix;
  }
  #rose {
    color: $orangeSphere;
  }
  #katherine {
    color: $orangeSphere;
  }
  #honeysuckle {
    color: $orangeSphere;
  }
  #alicia {
    color: $redSphere;
  }
  #morgana {
    color: $greenSphere;
  }
  #estella {
    color: $violetSphere;
  }
  #jane {
    color: $orangeSphere;
  }
  #kathy {
    color: $orangeSphere;
  }
  #cal {
    color: $indigoSphere;
  }
  #nooka {
    color: $blueSphere;
  }
  #leandra {
    color: $blueSphere;
  }
  #ash {
    color: $blueSphere;
  }
  #ava {
    color: $orangeSphere;
    left: 180px;
    top: $lineSeven;
  }
  #tara {
    color: $orangeSphere;
    right: 26px;
    top: $lineSeven;
  }
}
