$darkMain: #2c3e50;
$greyMain: #464343;
$blueMain: #9fcfff;
$lilacMain: #f8eeff;
$redSphere: #fe0000;
$orangeSphere: #fd8c00;
$yellowSphere: #d2af00;
$greenSphere: #119f0b;
$blueSphere: #528ff9;
$indigoSphere: #2b06a3;
$violetSphere: #c22edc;
$rainbowList: $redSphere, $orangeSphere, $yellowSphere, $greenSphere, $blueSphere, $indigoSphere, $violetSphere;

$mobLineOne: 10px;
$mobLineTwo: 90px;
$mobLineThree: 150px;
$mobLineFour: 220px;
$mobLineFive: 280px;
$mobLineSix: 340px;
$mobLineSeven: 400px;
$mobLineEight: 460px;
$mobLineNine: 530px;
$mobLineTen: 600px;
$mobLineEleven: 660px;
$mobLineTwelve: 730px;